<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-borrow-heading" data-cy="BorrowCreateUpdateHeading">Thêm mới hoặc cập nhật Borrow</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let borrowDateRef = editForm.get('borrowDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_borrowDate">Borrow Date</label>
          <div class="d-flex">
            <input
              id="field_borrowDate"
              data-cy="borrowDate"
              type="datetime-local"
              class="form-control"
              name="borrowDate"
              formControlName="borrowDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (borrowDateRef.invalid && (borrowDateRef.dirty || borrowDateRef.touched)) {
            <div>
              @if (editForm.get('borrowDate')?.errors?.required) {
                <small class="form-text text-danger">Trường này bắt buộc phải nhập.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('borrowDate')?.errors?.datetimelocal"
                >Trường này phải là định dạng thời gian.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_returnDate">Return Date</label>
          <div class="d-flex">
            <input
              id="field_returnDate"
              data-cy="returnDate"
              type="datetime-local"
              class="form-control"
              name="returnDate"
              formControlName="returnDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_member">Member</label>
          <select
            class="form-control"
            id="field_member"
            data-cy="member"
            name="member"
            formControlName="member"
            [compareWith]="compareMember"
          >
            <option [ngValue]="null"></option>
            @for (memberOption of membersSharedCollection; track $index) {
              <option [ngValue]="memberOption">{{ memberOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_book">Book</label>
          <select class="form-control" id="field_book" data-cy="book" name="book" formControlName="book" [compareWith]="compareBook">
            <option [ngValue]="null"></option>
            @for (bookOption of booksSharedCollection; track $index) {
              <option [ngValue]="bookOption">{{ bookOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
